/* This file is for your main application css. */

$fa-font-path: "~@fortawesome/fontawesome-free/webfonts";

@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/scss/fontawesome";
@import "~@fortawesome/fontawesome-free/scss/regular";
@import "~@fortawesome/fontawesome-free/scss/solid";
@import "~@fortawesome/fontawesome-free/scss/brands";

.alert:empty {
  display: none;
}

ul {
  list-style: none;
  margin-top: 1rem;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
}

.remove-link {
  color: #d9534f;
  visibility: hidden;

  &:hover {
    color: #c9302c;
  }
}

.item:hover, .list:hover {
  background-color: #f8f9fa;

  .remove-link {
    visibility: visible;
  }
}
